* {
    margin: 0;
    
    overflow: hidden;
}

@font-face {
    font-family: 'Eurostile';
    src: url(fonts/Eurostile\ Round.otf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Eurostile';
    src: url(fonts/Eurostile\ Round\ Medium.otf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Eurostile';
    src: url(fonts/Eurostile\ Round\ Bold.otf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Eurostile';
    src: url(fonts/Eurostile\ Round\ Heavy.otf);
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Eurostile';
    src: url(fonts/Eurostile\ Round\ Black.otf);
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'ClassWiz';
    src: url(fonts/CASIO\ ClassWiz\ CW01.ttf);
    font-weight: normal;
    font-style: normal;
}

/* /////////////////// */

.top {
    height: 10vh;
    text-align: center;
    font-family: 'Eurostile', "Titillium Web", sans-serif;
    padding-top: 1rem;
    background-color:cornsilk;
}

.top h1 {
    margin: -1rem 0;
    font-size: 3rem;
}

.top h2 {
    font-size: 2rem;
}

/* /////////////////// */

.middle {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:cornsilk;
}

/* /////////////////// */

.bottom {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-family: "Titillium Web", sans-serif;
    background-color:cornsilk;
}

/* /////////////////// */

.top-left, .top-right, .bottom-left, .bottom-right {
    position: absolute;
    background-color: rgb(41,41,41);
    /* background-color: pink; */
    height: 7px;
    width: 7px;
    z-index: 4;
    border-radius: 2px;
}

.top-left, .top-right {
    box-shadow: 0px 0px 2px 0px black, inset 0px -1px 5px -3px rgb(176, 176, 176);
}

.bottom-left, .bottom-right {
    box-shadow: 0px 0px 2px 0px black, inset 0px 1px 5px -3px rgb(176, 176, 176);
}

.top-left {
    top: 119px;
    /* left: 908px; */
    left: 524px;
}

.top-right {
    top: 119px;
    /* left: 1002px;    */
    left: 623px;
}

.bottom-left {
    top: 902px;
    /* left: 915px;  */
    left: 527px;
}

.bottom-right {
    top: 902px;
    /* left: 999px;    */
    left: 620px;
}

.outer {
    position: absolute;
    top: 122px;
    /* top: 61px; */
    /* left: 772px; */
    left: 386px;
    /* left: 400px; */

    background-color: rgb(41,41,41);
    background-image: url(https://cdn.discordapp.com/attachments/541295970839822336/1253774168357474464/X_calcualtor.png?ex=667713af&is=6675c22f&hm=24e9febedbb9f241511a84d402fecc128c83980d42243f9fcac8d82cf1c6179e&);
    background-size: 20px 20px;
    /* background-color: pink; */
    box-shadow: 0px 0px 6px 3px black;
    height: 785px;
    width: 375px;
    border-radius: 50px;
    z-index: 0;
}

.inner {

    position: absolute;
    top: 130px;
    /* top: 61px; */
    /* left: 781px; */
    left: 394.5px;
    /* left: 400px; */

    box-shadow: inset 0px 0px 5px 0px rgb(55, 55, 55);

    background-color: rgb(13,13,13);
    /* background-color: pink; */
    border: 1px solid rgb(80, 80, 80);
    height: 768px;
    width: 358px;
    border-radius: 40px;
    z-index: 1;
}

.main {

    position: absolute;
    top: 136px;
    /* top: 61px; */
    /* left: 786px; */
    left: 402px;
    /* left: 400px; */

    background-color: rgb(40,40,40);
    /* background-color: pink; */

    box-shadow: inset 0px 0px 20px 10px rgb(78,78,78), 0px 0px 1px 1px rgb(78,78,78);
    

    height: 758px;
    width: 347px;
    border-radius: 39px;
    z-index: 2;
}

.solar {

    position: absolute;
    top: 143px;
    /* top: 61px; */
    /* left: 939px; */
    left: 555px;
    /* left: 400px; */

    background-color: rgb(46,31,27);
    /* background-color: pink; */

    box-shadow: inset 0px 0px 3px 0px black;
    border: 1px solid rgb(49, 49, 49);
    border-radius: 15px;

    height: 73px;
    width: 165px;

    z-index: 3;
}

.name {
    position: absolute;
    top: 157px;
    /* top: 61px; */
    /* left: 813px; */
    left: 431px;
    /* left: 400px; */

    color: rgb(191,191,191);
    /* color: pink; */
    
    text-shadow: 0 0 1px rgb(191,191,191);

    z-index: 4;
}

.name .casio {
    font-family: 'Eurostile', "Titillium Web", sans-serif;
    letter-spacing: 0rem;
    font-size: 1.6rem;
    font-weight: 800;
}

.name .fx {
    font-family: 'Roboto', 'Trebuchet MS', sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
}

.classwiz {
    position: absolute;
    left: 625px;
    filter: brightness(0) invert(70%);
    /* left: 1010px; */
    top: 365.5px;
    height: 11px;
    width: auto;
    z-index: 8;
}

.outer-screen {

    position: absolute;
    top: 230px;
    /* top: 61px; */
    /* left: 800px; */
    left: 415px;

    background-color: rgb(42,42,42);
    /* background-color: pink; */

    box-shadow: inset 0px 0px 4px 0px black, 0px -2px 3px -1px black, 0px 3px 2px -1px rgb(55, 55, 55);
    border-radius: 10px;

    height: 153px;
    width: 317px;

    z-index: 4;
}

.inner-screen {

    position: absolute;
    top: 238px;
    /* top: 61px; */
    /* left: 810px; */
    left: 425px;

    background-color: rgb(208,230,218);
    /* background-color: pink; */

    box-shadow: inset 0px 0px 4px 0px black;
    border-radius: 10px;

    height: 120px;
    width: 299px;

    z-index: 4;
}

.scroll {

    position: absolute;
    top: 435px;
    /* top: 61px; */
    /* left: 1055px; */
    left: 670px;
    rotate: 90deg;

    background-color: rgb(36,36,36);
    /* background-color: pink; */

    box-shadow: inset 5px 0px 13px 2px rgb(55, 55, 55), 0px 0px 1px 2px rgb(14, 14, 14), inset 1px 0px 0px 1px rgb(77, 77, 77), inset -1px 0px 10px 0px black;
    border-radius: 20px;

    height: 35px;
    width: 83px;

    z-index: 5;
      
}

.scroll .scroll-up {
    rotate: -90deg;
    position: absolute;
    top: 6px;
    left: 10px;
    height: 23px;
    width: auto;
    border: 0px solid pink;
    z-index: 6;
    filter: blur(1px);
}

.scroll .scroll-down {
    rotate: 90deg;
    position: absolute;
    top: 6px;
    left: 50px;
    height: 23px;
    width: auto;
    border: 0px solid pink;
    z-index: 6;
    filter: blur(1px);
}

.on-circle {
    position: absolute;
    top: 411px;
    /* top: 61px; */
    /* left: 808px; */
    left: 424px;

    height: 28px;
    width: 28px;
    border-radius: 28px;
    /* background-color: pink; */
    background-color: rgb(36,36,36);
    box-shadow: inset 0px 5px 13px 2px rgb(55, 55, 55), 0px 0px 1px 3px rgb(14, 14, 14), inset 0px 1px 0px 1px rgb(77, 77, 77), inset 0px -1px 10px 0px black;

    z-index: 5;

}

.power-divot {
    position: absolute;
    top: 411px;
    /* top: 61px; */
    /* left: 808px; */
    left: 434px;

    height: 10px;
    width: 6px;
    border-radius: 2px;
    /* background-color: pink; */
    background-color: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 2px 0px rgb(30, 30, 30), 0px 0px 0px 0px rgb(14, 14, 14), inset 0px 3px 2px -1px rgb(162, 162, 162), inset 0px 0px 2px 2px rgb(16, 16, 16);

    z-index: 6;

}

.home {
    position: absolute;
    top: 411px;
    /* top: 61px; */
    /* left: 860px; */
    left: 475px;

    height: 35px;
    width: 35px;
    border-radius: 40px;
    /* background-color: pink; */
    background-color: rgb(36,36,36);
    box-shadow: inset 0px 5px 13px 2px rgb(55, 55, 55), 0px 0px 1px 3px rgb(14, 14, 14), inset 0px 1px 0px 1px rgb(77, 77, 77), inset 0px -1px 10px 0px black;

    z-index: 5;

    
}

.home p {
    font-family: "ClassWiz", Helvetica, sans-serif;
    color: rgb(13,13,13);
    margin-top: -3px;
    margin-left: -10px;
    font-size: 2.6rem;
    text-shadow: 0 0 2px rgb(91, 91, 91);
}

.undo {
    position: absolute;
    top: 459px;
    /* top: 61px; */
    /* left: 860px; */
    left: 475px;

    height: 35px;
    width: 35px;
    border-radius: 40px;
    /* background-color: pink; */
    background-color: rgb(36,36,36);
    box-shadow: inset 0px 5px 13px 2px rgb(55, 55, 55), 0px 0px 1px 3px rgb(14, 14, 14), inset 0px 1px 0px 1px rgb(77, 77, 77), inset 0px -1px 10px 0px black;

    z-index: 5;

    
}

.undo p {
    font-family: "ClassWiz", Helvetica, sans-serif;
    color: rgb(13,13,13);
    margin-top: -3px;
    margin-left: -10px;
    font-size: 2.6rem;
    text-shadow: 0 0 2px rgb(91, 91, 91);
}

.settings {
    position: absolute;
    top: 459px;
    /* top: 61px; */
    /* left: 804px; */
    left: 420px;

    height: 35px;
    width: 35px;
    border-radius: 40px;
    /* background-color: pink; */
    background-color: rgb(36,36,36);
    box-shadow: inset 0px 5px 13px 2px rgb(55, 55, 55), 0px 0px 1px 3px rgb(14, 14, 14), inset 0px 1px 0px 1px rgb(77, 77, 77), inset 0px -1px 10px 0px black;

    z-index: 5;

    
}

.settings p {
    font-family: "ClassWiz", Helvetica, sans-serif;
    color: rgb(13,13,13);
    margin-top: -3px;
    margin-left: -10px;
    font-size: 2.6rem;
    text-shadow: 0 0 2px rgb(91, 91, 91);
}

.up, .down, .left, .right, .ok {

    height: 35px;
    width: 35px;
    border-radius: 40px;
    /* background-color: pink; */
    background-color: rgb(36,36,36);
    box-shadow: inset 0px 5px 13px 2px rgb(55, 55, 55), 0px 0px 1px 3px rgb(14, 14, 14), inset 0px 1px 0px 1px rgb(77, 77, 77), inset 0px -1px 10px 0px black;

    z-index: 5;

    
}

.up p, .down p, .left p, .right p, .ok p {
    font-family: "ClassWiz", Helvetica, sans-serif;
    color: rgb(13,13,13);
    margin-top: -3px;
    margin-left: -10px;
    font-size: 2.6rem;
    text-shadow: 0 0 2px rgb(91, 91, 91);
}

.up {
    position: absolute;
    top: 411px;
    /* top: 61px; */
    /* left: 980px; */
    left: 583px;
    
}

.down {
    position: absolute;
    top: 507px;
    /* top: 61px; */
    /* left: 980px; */
    left: 583px;
}

.left {
    position: absolute;
    top: 459px;
    /* top: 61px; */
    /* left: 925px;*/
    left: 530px;
    
}

.right {
    position: absolute;
    top: 459px;
    /* top: 61px; */
    /* left: 1035px; */
    left: 635px;
}

.ok {
    position: absolute;
    top: 459px;
    /* top: 61px; */
    /* left: 980px; */
    left: 583px;
    box-shadow: 5px 6px 4px 0px black, 0px 0px 2px 2px black, inset 0px 3px 4px -1px rgb(78, 78, 78), inset 0px -1px 4px -1px rgb(0, 0, 0);
}

.background {
    position: absolute;
    top: 435px;
    /* top: 61px; */
    /* left: 935px; */
    left: 550px;

    background-color: rgb(13,13,13);
    /* background-color: pink; */

    box-shadow: inset 0px 0px 4px 0px black;
    /* border-radius: 10px; */

    height: 85px;
    width: 103px;

    z-index: 2;
    cursor:default;
}

.one-corner {
    position: absolute;
    top: 425px;
    /* top: 61px; */
    /* left: 935px; */
    left: 545px;
    box-shadow: 3px 3px 4px -1px black;

}

.two-corner {
    position: absolute;
    top: 425px;
    /* top: 61px; */
    /* left: 935px; */
    left: 617px;
    box-shadow: -3px 3px 4px -1px black;
 
}

.three-corner {
    position: absolute;
    top: 490px;
    /* top: 61px; */
    /* left: 935px; */
    left: 617px;
    box-shadow: -3px -3px 4px -1px black;

}

.four-corner {
    position: absolute;
    top: 490px;
    /* top: 61px; */
    /* left: 935px; */
    left: 545px;
    box-shadow: 3px -3px 4px -1px black;
    
}

.one-corner, .two-corner, .three-corner, .four-corner {
    background-color: rgb(40,40,40);;
    /* background-color: pink; */

    
    border-radius: 10px;

    height: 40px;
    width: 40px;

    z-index: 4;

    cursor:default;
}

#up{
    z-index: 3;
    box-shadow: 5px 9px 4px 1px black;
}

#left{
    z-index: 3;
    box-shadow: 9px 5px 4px 1px black;
}



/* ////////////////////// */





/* /////////////////////////// */

.shift1 {
    position: absolute;
    top: 516px;
    /* top: 61px; */
    /* left: 805px; */
    left: 420px;

    height: 35px;
    width: 35px;
    border-radius: 40px;
    /* background-color: pink; */
    background-color: rgb(159,147,110);
    /* box-shadow: inset 0px 5px 13px 2px rgb(55, 55, 55), 0px 0px 1px 3px rgb(14, 14, 14), inset 0px 1px 0px 1px rgb(77, 77, 77), inset 0px -1px 10px 0px black; */

    z-index: 4;

    
}

.shift1 p {
    font-family: "ClassWiz", Helvetica, sans-serif;
    color: rgb(159,147,110);
    /* color: black; */
    margin-top: -3px;
    margin-left: -9px;
    font-size: 2.6rem;
    color: transparent;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.7);
}

.shift2 {
    position: absolute;
    top: 516px;
    /* top: 61px; */
    /* left: 805px; */
    left: 420px;

    height: 35px;
    width: 35px;
    border-radius: 40px;
    /* background-color: pink; */
    background-color: transparent;
    /* box-shadow: inset 0px 5px 13px 2px rgb(55, 55, 55), 0px 0px 1px 3px rgb(14, 14, 14), inset 0px 1px 0px 1px rgb(77, 77, 77), inset 0px -1px 10px 0px black; */
    
    z-index: 6;

    
}

.shift2 p {
    font-family: "ClassWiz", Helvetica, sans-serif;
    color: rgb(159,147,110);
    /* color: black; */
    margin-top: 0px;
    margin-left: -5px;
    font-size: 2.1rem;
    color: transparent;
    text-shadow: 0px 0px 1px rgb(159,147,110);
}

.overlay {
    position: absolute;
    top: 516px;
    /* top: 61px; */
    /* left: 805px; */
    left: 419px;

    height: 35px;
    width: 35px;
    border-radius: 40px;
    /* background-color: pink; */
    background-color: transparent;
    box-shadow: inset 0px 20px 10px -17px rgb(255, 255, 255), inset 0px -20px 10px -19px rgb(0, 0, 0), 0px 0px 2px 2px rgb(10, 10, 10);
    
    z-index: 7;

    
}

.bott {
    position: absolute;
    top: 542px;
    /* top: 61px; */
    /* left: 805px; */
    left: 432px;

    height: 3px;
    width: 9px;
    border-radius: 5px;
    /* background-color: transparent; */
    background-color: rgb(214, 201, 160);
    /* box-shadow: inset 0px 0px 10px 0px white; */
    /* box-shadow: inset 0px 5px 13px 2px rgb(55, 55, 55), 0px 0px 1px 3px rgb(14, 14, 14), inset 0px 1px 0px 1px rgb(77, 77, 77), inset 0px -1px 10px 0px black; */

    z-index: 4;
    filter: blur(1px);
    
}

.lef {
    position: absolute;
    top: 531px;
    /* top: 61px; */
    /* left: 805px; */
    left: 428px;

    height: 3px;
    width: 4px;
    border-radius: 5px;
    /* background-color: transparent; */
    background-color: rgb(214, 201, 160);
    /* box-shadow: inset 0px 0px 10px 0px white; */
    /* box-shadow: inset 0px 5px 13px 2px rgb(55, 55, 55), 0px 0px 1px 3px rgb(14, 14, 14), inset 0px 1px 0px 1px rgb(77, 77, 77), inset 0px -1px 10px 0px black; */

    z-index: 4;
    filter: blur(1px);
    
}

.righ {
    position: absolute;
    top: 531px;
    /* top: 61px; */
    /* left: 805px; */
    left: 441px;

    height: 3px;
    width: 4px;
    border-radius: 5px;
    /* background-color: transparent; */
    background-color: rgb(214, 201, 160);
    /* box-shadow: inset 0px 0px 10px 0px white; */
    /* box-shadow: inset 0px 5px 13px 2px rgb(55, 55, 55), 0px 0px 1px 3px rgb(14, 14, 14), inset 0px 1px 0px 1px rgb(77, 77, 77), inset 0px -1px 10px 0px black; */

    z-index: 4;
    filter: blur(1px);
    
}

.highlight {
    position: absolute;
    top: 521px;
    /* top: 61px; */
    /* left: 805px; */
    left: 425px;

    height: 10px;
    width: 15px;
    border-radius: 5px;
    /* background-color: transparent; */
    background-color: rgba(255, 255, 255, 0.81);
    /* box-shadow: inset 0px 0px 10px 0px white; */
    /* box-shadow: inset 0px 5px 13px 2px rgb(55, 55, 55), 0px 0px 1px 3px rgb(14, 14, 14), inset 0px 1px 0px 1px rgb(77, 77, 77), inset 0px -1px 10px 0px black; */

    z-index: 6;
    filter: blur(4px);
    
}

.x-button {
    position: absolute;
    top: 553px; 
    /* top: 61px; */
    /* left: 795px; */
    left: 410px;
    width: 100%;
}

.ans-button {
    position: absolute;
    top: 603px; 
    /* top: 61px; */
    /* left: 795px; */
    left: 410px;
    width: 100%;
}

.sin-button {
    position: absolute;
    top: 603px; 
    /* top: 61px; */
    /* left: 795px; */
    left: 465px;
    width: 100%;
}

.cos-button {
    position: absolute;
    top: 603px; 
    /* top: 61px; */
    /* left: 795px; */
    left: 520px;
    width: 100%;
}

.tan-button {
    position: absolute;
    top: 603px; 
    /* top: 61px; */
    /* left: 795px; */
    left: 575px;
    width: 100%;
}

.lpar-button {
    position: absolute;
    top: 603px; 
    /* top: 61px; */
    /* left: 795px; */
    left: 630px;
    width: 100%;
}

.rpar-button {
    position: absolute;
    top: 603px; 
    /* top: 61px; */
    /* left: 795px; */
    left: 685px;
    width: 100%;
}

.function-button {
    position: absolute;
    top: 503px;
    /* top: 61px; */
    /* left: 795px; */
    left: 520px;
    width: 100%;
}

.variable-button {
    position: absolute;
    top: 503px;
    /* top: 61px; */
    /* left: 795px; */
    left: 465px;
    width: 100%;
}

.catalog-button {
    position: absolute;
    top: 503px;
    /* top: 61px; */
    /* left: 795px; */
    left: 630px;
    width: 100%;
}

.tools-button {
    position: absolute;
    top: 503px;
    /* top: 61px; */
    /* left: 795px; */
    left: 685px;
    width: 100%;
}

.fraction-button {
    position: absolute;
    top: 553px;
    /* top: 61px; */
    /* left: 795px; */
    left: 465px;
    width: 100%;
}

.root-button {
    position: absolute;
    top: 553px;
    /* top: 61px; */
    /* left: 795px; */
    left: 520px;
    width: 100%;
}

.power-button {
    position: absolute;
    top: 553px;
    /* top: 61px; */
    /* left: 795px; */
    left: 575px;
    width: 100%;
}

.square-button {
    position: absolute;
    top: 553px;
    /* top: 61px; */
    /* left: 795px; */
    left: 630px;
    width: 100%;
}

.log-button {
    position: absolute;
    top: 553px;
    /* top: 61px; */
    /* left: 795px; */
    left: 685px;
    width: 100%;
}
/* //////////////////// */

.button-7 {
    position: absolute;
    top: 660px;
    /* top: 61px; */
    /* left: 750px; */
    left: 365px;
    width: 100%; 
    height: 100%;
} 

.button-4 {
    position: absolute;
    top: 716px;
    /* top: 61px; */
    /* left: 750px; */
    left: 365px;
    width: 100%; 
    height: 100%;
} 

.button-1 {
    position: absolute;
    top: 772px;
    /* top: 61px; */
    /* left: 750px; */
    left: 365px;
    width: 100%; 
    height: 100%;
} 

.button-0 {
    position: absolute;
    top: 828px;
    /* top: 61px; */
    /* left: 750px; */
    left: 365px;
    width: 100%; 
    height: 100%;
} 

.button-8 {
    position: absolute;
    top: 660px;
    /* top: 61px; */
    /* left: 750px; */
    left: 433px;
    width: 100%; 
    height: 100%;
} 

.button-5 {
    position: absolute;
    top: 716px;
    /* top: 61px; */
    /* left: 750px; */
    left: 433px;
    width: 100%; 
    height: 100%;
} 

.button-2 {
    position: absolute;
    top: 772px;
    /* top: 61px; */
    /* left: 750px; */
    left: 433px;
    width: 100%; 
    height: 100%;
} 

.button-period {
    position: absolute;
    top: 828px;
    /* top: 61px; */
    /* left: 750px; */
    left: 433px;
    width: 100%; 
    height: 100%;
} 

.button-9 {
    position: absolute;
    top: 660px;
    /* top: 61px; */
    /* left: 750px; */
    left: 501px;
    width: 100%; 
    height: 100%;
} 

.button-6 {
    position: absolute;
    top: 716px;
    /* top: 61px; */
    /* left: 750px; */
    left: 501px;
    width: 100%; 
    height: 100%;
} 

.button-3 {
    position: absolute;
    top: 772px;
    /* top: 61px; */
    /* left: 750px; */
    left: 501px;
    width: 100%; 
    height: 100%;
} 

.button-e {
    position: absolute;
    top: 828px;
    /* top: 61px; */
    /* left: 750px; */
    left: 501px;
    width: 100%; 
    height: 100%;
} 

.button-delete {
    position: absolute;
    top: 660px;
    /* top: 61px; */
    /* left: 750px; */
    left: 569px;
    width: 100%; 
    height: 100%;
} 

.button-multiply {
    position: absolute;
    top: 716px;
    /* top: 61px; */
    /* left: 750px; */
    left: 569px;
    width: 100%; 
    height: 100%;
} 

.button-add {
    position: absolute;
    top: 772px;
    /* top: 61px; */
    /* left: 750px; */
    left: 569px;
    width: 100%; 
    height: 100%;
} 

.button-format {
    position: absolute;
    top: 828px;
    /* top: 61px; */
    /* left: 750px; */
    left: 569px;
    width: 100%; 
    height: 100%;
} 

.button-AC {
    position: absolute;
    top: 660px;
    /* top: 61px; */
    /* left: 750px; */
    left: 637px;
    width: 100%; 
    height: 100%;
} 

.button-divide {
    position: absolute;
    top: 716px;
    /* top: 61px; */
    /* left: 750px; */
    left: 637px;
    width: 100%; 
    height: 100%;
} 

.button-subtract {
    position: absolute;
    top: 772px;
    /* top: 61px; */
    /* left: 750px; */
    left: 637px;
    width: 100%; 
    height: 100%;
} 

.button-execute {
    position: absolute;
    top: 828px;
    /* top: 61px; */
    /* left: 750px; */
    left: 637px;
    width: 100%; 
    height: 100%;
} 


/* //////////////////// */



.lower-buttons .button {
    position: relative;
    top: 3px;
    left: 52px;

    height: 45px;
    width: 45px;
    border-radius: 40px;
    /* background-color: pink; */
    background-color: rgb(72,74,73);
    /* background-color: pink; */
    

    z-index: 5;
  
}

.lower-buttons p {
    position: absolute;
    top: 2px;
    left: 48px;
    font-family: "ClassWiz", Helvetica, sans-serif;
    margin-top: 3px;
    margin-left: 0px;
    font-size: 2.6rem;
    z-index: 5;
}

.lower-buttons .circle {
    position: relative;
    border: 6px solid pink;
    border: 6px solid rgb(72,74,73);
    border-radius: 50px;
    top: -41px;
    left: 53px;
    height: 32px;
    width: 32px;
    z-index: 6;
}

.lower-buttons .but-overlay {
    position: relative;
    top: -86px;
    left: 52px;
    /* background-color: pink; */
    height: 45px;
    width: 45px;
    border-radius: 50px;
    box-shadow: inset 0px 5px 13px 2px rgb(63, 63, 63), 0px 0px 1px 3px rgb(14, 14, 14), inset 0px 1px 0px 1px rgb(83, 83, 83), inset 0px -1px 10px 0px rgb(24, 24, 24);
    z-index: 8;
}

.lower-buttons .circlee {
    position: relative;
    /* border: 3px solid pink; */
    /* border: 2px solid rgb(72,74,73); */
    border-radius: 0px;
    background-color: rgb(190, 190, 190);
    top: -119px;
    left: 85px;
    height: 5px;
    width: 5px;
    z-index: 6;
}

/*  */

.middle-buttons .button {
    position: relative;
    top: 10px;
    left: 10px;

    height: 35px;
    width: 35px;
    border-radius: 40px;
    /* background-color: pink; */
    background-color: rgb(65,67,67);
    /* background-color: pink; */

    z-index: 5;
  
}

.middle-buttons p {
    position: absolute;
    top: 12px;
    left: 9px;
    font-family: "ClassWiz", Helvetica, sans-serif;
    margin-top: 3px;
    margin-left: 0px;
    font-size: 1.8rem;
    z-index: 5;
}

.middle-buttons .circle {
    position: relative;
    border: 6px solid pink;
    border: 6px solid rgb(65,67,67);
    border-radius: 10px;
    top: -19px;
    left: 10px;
    height: 15px;
    width: 23px;
    z-index: 6;
}

.middle-buttons .circlee {
    position: relative;
    border: 3px solid pink;
    border: 3px solid rgb(65,67,67);
    border-radius: 10px;
    top: -19px;
    left: 13px;
    height: 21px;
    width: 23px;
    z-index: 6;
}

.middle-buttons .but-overlay {
    position: relative;
    top: -50px;
    left: 10px;
    /* background-color: pink; */
    height: 35px;
    width: 35px;
    border-radius: 40px;
    box-shadow: inset 0px 5px 13px 2px rgb(63, 63, 63), 0px 0px 1px 3px rgb(14, 14, 14), inset 0px 1px 0px 1px rgb(83, 83, 83), inset 0px -1px 10px 0px rgb(24, 24, 24);
    z-index: 8;
}

.middle-buttons .upper {
    position: relative;
    background-color: pink;
    background-color: rgb(65,67,67);
    border-radius: 10px;
    top: -83px;
    left: 20px;
    height: 5px;
    width: 15px;
    z-index: 7; 
}

.middle-buttons .lower {
    position: relative;
    background-color: pink;
    background-color: rgb(65,67,67);
    border-radius: 10px;
    top: -63px;
    left: 20px;
    height: 5px;
    width: 15px;
    z-index: 7; 
}

/*  */

.buttons {
    cursor: pointer;
}

.upper-buttons p {
    color: transparent;
    text-shadow: 0 0 1px #101010;
}

.middle-buttons p {
    color: transparent;
    text-shadow: 0 0 1px rgb(224, 224, 224);
}

.lower-buttons p {
    color: transparent;
    text-shadow: 0 0 1px rgb(224, 224, 224);
}

.name p {   
    color: transparent;
    text-shadow: 0 0 1px rgb(166, 166, 166);
}