* {
    margin: 0;
    
    overflow: hidden;
}

@font-face {
    font-family: 'Eurostile';
    src: url(fonts/Eurostile\ Round.otf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Eurostile';
    src: url(fonts/Eurostile\ Round\ Medium.otf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Eurostile';
    src: url(fonts/Eurostile\ Round\ Bold.otf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Eurostile';
    src: url(fonts/Eurostile\ Round\ Heavy.otf);
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Eurostile';
    src: url(fonts/Eurostile\ Round\ Black.otf);
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'ClassWiz';
    src: url(fonts/CASIO\ ClassWiz\ CW01.ttf);
    font-weight: normal;
    font-style: normal;
}

/* /////////////////// */

.top {
    height: 10vh;
    text-align: center;
    font-family: 'Eurostile', "Titillium Web", sans-serif;
    padding-top: 1rem;
    background-color:cornsilk;
}

.top h1 {
    margin: -1rem 0;
    font-size: 3rem;
}

.top h2 {
    font-size: 2rem;
}

/* /////////////////// */

.middle {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:cornsilk;
}

/* /////////////////// */

.bottom {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-family: "Titillium Web", sans-serif;
    background-color:cornsilk;
}

/* /////////////////// */

.top-left, .top-right, .bottom-left, .bottom-right {
    position: absolute;
    background-color: rgb(41,41,41);
    /* background-color: pink; */
    height: 7px;
    width: 7px;
    z-index: 4;
    border-radius: 2px;
}

.top-left, .top-right {
    box-shadow: 0px 0px 2px 0px black, inset 0px -1px 5px -3px rgb(176, 176, 176);
}

.bottom-left, .bottom-right {
    box-shadow: 0px 0px 2px 0px black, inset 0px 1px 5px -3px rgb(176, 176, 176);
}

.top-left {
    top: 119px;
    /* left: 908px; */
    left: 524px;
}

.top-right {
    top: 119px;
    /* left: 1002px;    */
    left: 623px;
}

.bottom-left {
    top: 902px;
    /* left: 915px;  */
    left: 527px;
}

.bottom-right {
    top: 902px;
    /* left: 999px;    */
    left: 620px;
}

.outer {
    position: absolute;
    top: 122px;
    /* top: 61px; */
    /* left: 772px; */
    left: 386px;
    /* left: 400px; */

    background-color: rgb(41,41,41);
    background-image: url(https://cdn.discordapp.com/attachments/541295970839822336/1253774168357474464/X_calcualtor.png?ex=667713af&is=6675c22f&hm=24e9febedbb9f241511a84d402fecc128c83980d42243f9fcac8d82cf1c6179e&);
    background-size: 20px 20px;
    /* background-color: pink; */
    box-shadow: 0px 0px 6px 3px black;
    height: 785px;
    width: 375px;
    border-radius: 50px;
    z-index: 0;
}

.inner {

    position: absolute;
    top: 130px;
    /* top: 61px; */
    /* left: 781px; */
    left: 394.5px;
    /* left: 400px; */

    box-shadow: inset 0px 0px 5px 0px rgb(55, 55, 55);

    background-color: rgb(13,13,13);
    /* background-color: pink; */
    border: 1px solid rgb(80, 80, 80);
    height: 768px;
    width: 358px;
    border-radius: 40px;
    z-index: 1;
}

.main {

    position: absolute;
    top: 136px;
    /* top: 61px; */
    /* left: 786px; */
    left: 402px;
    /* left: 400px; */

    background-color: rgb(40,40,40);
    /* background-color: pink; */

    box-shadow: inset 0px 0px 20px 10px rgb(78,78,78), 0px 0px 1px 1px rgb(78,78,78);
    

    height: 758px;
    width: 347px;
    border-radius: 39px;
    z-index: 2;
}

.solar {

    position: absolute;
    top: 143px;
    /* top: 61px; */
    /* left: 939px; */
    left: 555px;
    /* left: 400px; */

    background-color: rgb(46,31,27);
    /* background-color: pink; */

    box-shadow: inset 0px 0px 3px 0px black;
    border: 1px solid rgb(49, 49, 49);
    border-radius: 15px;

    height: 73px;
    width: 165px;

    z-index: 3;
}

.name {
    position: absolute;
    top: 157px;
    /* top: 61px; */
    /* left: 813px; */
    left: 431px;
    /* left: 400px; */

    color: rgb(191,191,191);
    /* color: pink; */
    
    text-shadow: 0 0 1px rgb(191,191,191);

    z-index: 4;
}

.name .casio {
    font-family: 'Eurostile', "Titillium Web", sans-serif;
    letter-spacing: 0rem;
    font-size: 1.6rem;
    font-weight: 800;
}

.name .fx {
    font-family: 'Roboto', 'Trebuchet MS', sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
}

.outer-screen {

    position: absolute;
    top: 230px;
    /* top: 61px; */
    /* left: 800px; */
    left: 415px;

    background-color: rgb(42,42,42);
    /* background-color: pink; */

    box-shadow: inset 0px 0px 4px 0px black, 0px -2px 3px -1px black, 0px 3px 2px -1px rgb(55, 55, 55);
    border-radius: 10px;

    height: 153px;
    width: 317px;

    z-index: 4;
}

.inner-screen {

    position: absolute;
    top: 238px;
    /* top: 61px; */
    /* left: 810px; */
    left: 425px;

    background-color: rgb(208,230,218);
    /* background-color: pink; */

    box-shadow: inset 0px 0px 4px 0px black;
    border-radius: 10px;

    height: 120px;
    width: 299px;

    z-index: 4;
}

.scroll {

    position: absolute;
    top: 435px;
    /* top: 61px; */
    /* left: 1055px; */
    left: 665px;
    rotate: 90deg;

    background-color: rgb(36,36,36);
    /* background-color: pink; */

    box-shadow: inset 5px 0px 13px 2px rgb(55, 55, 55), 0px 0px 1px 2px rgb(14, 14, 14), inset 1px 0px 0px 1px rgb(77, 77, 77), inset -1px 0px 10px 0px black;
    border-radius: 20px;

    height: 35px;
    width: 83px;

    z-index: 5;
      
}

.scroll .up {
    rotate: -90deg;
    position: absolute;
    top: 6px;
    left: 10px;
    height: 23px;
    width: auto;
    border: 0px solid pink;
    z-index: 6;
    filter: blur(1px);
}

.scroll .down {
    rotate: 90deg;
    position: absolute;
    top: 6px;
    left: 50px;
    height: 23px;
    width: auto;
    border: 0px solid pink;
    z-index: 6;
    filter: blur(1px);
}

.on-circle {
    position: absolute;
    top: 411px;
    /* top: 61px; */
    /* left: 808px; */
    left: 423px;

    height: 28px;
    width: 28px;
    border-radius: 28px;
    /* background-color: pink; */
    background-color: rgb(36,36,36);
    box-shadow: inset 0px 5px 13px 2px rgb(55, 55, 55), 0px 0px 1px 3px rgb(14, 14, 14), inset 0px 1px 0px 1px rgb(77, 77, 77), inset 0px -1px 10px 0px black;

    z-index: 5;

}

.power-divot {
    position: absolute;
    top: 411px;
    /* top: 61px; */
    /* left: 808px; */
    left: 434px;

    height: 10px;
    width: 6px;
    border-radius: 2px;
    /* background-color: pink; */
    background-color: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 2px 0px rgb(30, 30, 30), 0px 0px 0px 0px rgb(14, 14, 14), inset 0px 3px 2px -1px rgb(162, 162, 162), inset 0px 0px 2px 2px rgb(16, 16, 16);

    z-index: 6;

}

.home {
    position: absolute;
    top: 411px;
    /* top: 61px; */
    /* left: 860px; */
    left: 475px;

    height: 35px;
    width: 35px;
    border-radius: 40px;
    /* background-color: pink; */
    background-color: rgb(36,36,36);
    box-shadow: inset 0px 5px 13px 2px rgb(55, 55, 55), 0px 0px 1px 3px rgb(14, 14, 14), inset 0px 1px 0px 1px rgb(77, 77, 77), inset 0px -1px 10px 0px black;

    z-index: 5;

    
}

.home p {
    font-family: "ClassWiz", Helvetica, sans-serif;
    color: rgb(13,13,13);
    margin-top: -3px;
    margin-left: -10px;
    font-size: 2.6rem;
    text-shadow: 0 0 2px rgb(91, 91, 91);
}

.undo {
    position: absolute;
    top: 459px;
    /* top: 61px; */
    /* left: 860px; */
    left: 475px;

    height: 35px;
    width: 35px;
    border-radius: 40px;
    /* background-color: pink; */
    background-color: rgb(36,36,36);
    box-shadow: inset 0px 5px 13px 2px rgb(55, 55, 55), 0px 0px 1px 3px rgb(14, 14, 14), inset 0px 1px 0px 1px rgb(77, 77, 77), inset 0px -1px 10px 0px black;

    z-index: 5;

    
}

.undo p {
    font-family: "ClassWiz", Helvetica, sans-serif;
    color: rgb(13,13,13);
    margin-top: -3px;
    margin-left: -10px;
    font-size: 2.6rem;
    text-shadow: 0 0 2px rgb(91, 91, 91);
}

.settings {
    position: absolute;
    top: 459px;
    /* top: 61px; */
    /* left: 804px; */
    left: 419px;

    height: 35px;
    width: 35px;
    border-radius: 40px;
    /* background-color: pink; */
    background-color: rgb(36,36,36);
    box-shadow: inset 0px 5px 13px 2px rgb(55, 55, 55), 0px 0px 1px 3px rgb(14, 14, 14), inset 0px 1px 0px 1px rgb(77, 77, 77), inset 0px -1px 10px 0px black;

    z-index: 5;

    
}

.settings p {
    font-family: "ClassWiz", Helvetica, sans-serif;
    color: rgb(13,13,13);
    margin-top: -3px;
    margin-left: -10px;
    font-size: 2.6rem;
    text-shadow: 0 0 2px rgb(91, 91, 91);
}